<h2 mat-dialog-title>Enter Password</h2>
<mat-dialog-content style="display: flex; flex-direction: column; align-items: center;">
  <mat-form-field>
    <input matInput [(ngModel)]="password" [type]="passwordFieldType" placeholder="Password">
    <mat-icon matSuffix matTooltip="Toggle Password Visibility" (click)="togglePasswordVisibility()">{{ showPasswordIcon }}</mat-icon>
  </mat-form-field>
  <mat-icon class="unlock" matTooltip="Unlock the Page" *ngIf="locked"  (click)="unlock()" [mat-dialog-close]="'cancel'">lock_open</mat-icon>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="password" color="primary">Submit</button>
  <button mat-button [mat-dialog-close]="'cancel'" color="warn">Cancel</button>
</mat-dialog-actions>
